{% extends "@App/AdWords/base.html.twig" %}

{% block title %}AppBundle:AdWords:add{% endblock %}

{% block container %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
    <h2>Add new ad</h2>
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
