
#{{ campaign.id }} - "{{ campaign.name }}" (<a href="{{ url('adwords_adgroup_add', {'campaignId' : campaign.id }) }}" >Add a group</a>)
    <ul>
{% if campaign.adGroups | length > 0 %}
    {% for adGroup in campaign.adGroups %}
        {{ include('@App/AdWords/adwords_render_adgroup.html.twig', { 'adGroup': adGroup }) }}
    {% endfor %}
{% else %}
    No ad groups found
{% endif %}
    </ul>
