{% extends "@App/AdWords/base.html.twig" %}

{% block title %}AppBundle:Facebook:login{% endblock %}

{% block container %}
        <h1>SDK Login for App {{ appId }}</h1>

        <a href="{{ loginUrl }}">Login with Facebook</a>

        <p>Dest url: {{ destUrl }}</p>


        <a href="{{ url("fb_posts") }}">Back to posts</a><br/>
{% endblock %}
