{% extends "@App/AdWords/base.html.twig" %}

{% block title %}AppBundle:Facebook:add{% endblock %}

{% block container %}

    <div class="alert alert-success" role="alert">New ad created: <a href="{{ newAdUrl }}">{{ newAdId }}</a></div>
e
    <a href="{{ url("fb_posts") }}">Back to posts</a><br/>

{% endblock %}
